nav{
    padding-bottom: 70px;
    background-color: #37474f;
    margin-bottom: 25px;
    padding-left: 20px;
}


.titulo_principal{
    text-align: center;
    margin-right: 200px;
    font-size: 35px;
}

.form-formato{
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 20px 30px;
    text-align: center;

    
}

form{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
 
}


button{
    text-align: center;
    background-color: blue;
}

.waves-effect {
    background-color: #bdbdbd ;
}

body{
    background-color: #e0e0e0;
   }

   .aviso{
    text-align: center;
    border: 10px;
    border-color: red;
    border-radius: 10px;
   }
   

